h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px blue;
}
body {
    background-color: white;
 }

.sigline{
    color: blue;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-right: 30pt;
}

.form-control{
    color: white;
    background-color: #ffffff;
}

.form-control:hover{
    color: black;
    background-color: white;
}

#reset{
    color:red;
}

.info{
    color: black;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
}