<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script>
    <!-- Update the path to paid tableau js library-->
    <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <!-- <script src="https://online.tableau.com/javascripts/api/tableau-version.min.js"></script> -->
    <!-- <script src="https://online.tableau.com/javascripts/api/tableau-2.min.js"></script> -->

    <title>Document</title>

</head>

<body onload="initViz();">
    <div id="vizContainer" style="width:800px; height:700px;"></div>

    <script>
        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                //public.tableau
                url = "https://public.tableau.com/views/DeathsPerGender/Sheet1?:display_count=y&publish=yes&:origin=viz_share_link"

                // tableau online
                // url = "https://prod-useast-a.online.tableau.com/t/analyzingleadingdeathcauseinus/views/DeathsPerGender/Sheet1?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link"
            options = {
                hideTabs: true,
                onFirstInteractive: function() {
                    console.log("Run this code when the viz has finished loading.");
                }
            };
            // Create a viz object and embed it in the container div.
            var viz = new tableau.Viz(containerDiv, url, options);
        }
    </script>
</body>

</html>
